.altoPrecio{
  color: grey;
  font-size: 30px !important;
}

/* con el ngClass */
.fondoRojo{
  background: red;
}
.subrayado{
  text-decoration: underline;
}


/*Para los links del menu*/
.active{
  border: 3px solid yellow;
}
