<h2>Crear un user :D</h2>
<form #newUser="ngForm" (ngSubmit)="onSubmit(newUser)">

  <p>
    <label for="name">Nombre:</label>
    <input type="text" name="name" #name="ngModel" [(ngModel)]="new_user.name"/>
    <span *ngIf="name.touched && name.valid">Nombre no valido</span>
  </p>

  <p>
    <label for="job">Trabajo:</label>
    <input type="text" name="job" #job="ngModel" [(ngModel)]="new_user.job"/>
    <span *ngIf="job.touched && job.valid">Trabajo no valido</span>
  </p>

  <input type="submit" value="Guardar usuario" [disabled]="!newUser.form.valid"/>
</form>

<div *ngIf="usuario_guardado">
  <h1>EL USUARIO SI SE GUARDO :D</h1>
  <h2>Nombre: {{usuario_guardado.name}} </h2>
  <h3>Trabajo: {{usuario_guardado.job}} </h3>
</div>

<hr>
{{fecha | date:'dd/MM/yy'}} <br>
{{fecha | date:'fullDate' | uppercase}} <br>
{{'ESTO ES UNA PRUEBA DE PIPE QUE LO PASA A MINUSCULAS' | lowercase}}
{{4 | calculadora:2}}
<!-- Para usar una pipe debemos usar el = |-->
<!-- Para generar una pipe seria : ng g p nombreDelPipe -->
<hr>
<input type="text" [(ngModel)]="userId" (keyup.enter)="cargaUsuario()"/>
<div *ngIf="!user">
  <strong>Cargando . . . .</strong>
</div>

<div *ngIf="user">
  <img src="{{user.avatar}}" width="200">
  <h2>{{user.first_name +" "+user.last_name }}</h2>
</div>

<hr>
